.grid{
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    float: left;
    margin-right: 15px;
}

.grid div{
    height: 100px;
    width: 100px;
    outline: 2px solid #CCC;

}

.tabuleiros{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.p1{
    background-color: rgba(90, 34, 230);
}

.p2{
    background-color: rgba(44, 184, 112);
}

.tile{
    background-color: rgba(0,0,0,0)
}